<div id="wrap">
  <img src="./img/Top-hat-Black.svg" alt="" height="180px" style="position: relative; top: 30px;">
  <br>
  <img src="./img/red-gulp.svg" alt="" height="140px">
  <p><strong>{{message}}</strong></p>
  <img src="./img/handlebars.svg" alt="" height="150px">
</div>