#wrap {
  min-width: 600px;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 60px;
  box-shadow: 0 0 10px #333;
  text-align: center;
  height: 100vh;
  background-color: #FAD1D1;
}

#wrap p {
  margin-top: 12px;
}
